{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div id="container">
<h2>Freya - ФЕДЕРАЛЬНАЯ СЕТЬ МАГАЗИНОВ</h2>
<p>СОВРЕМЕННЫЕ МУЛЬТИБРЕНДОВЫЕ МАГАЗИНЫ ЖЕНСКОЙ, МУЖСКОЙ, ДЕТСКИЙ ОБУВИ И АКСЕССУАРОВ.
OBUV - один из лидеров обувного ритейла в России с более чем 10-летним
опытом в индустрии.
В год мы продаем около 1 000 000 пар обуви!
Наши магазины открыты в более чем 15 городах России.
Найдите ближайший к Вам магазин OBUV, чтобы насладиться удобным и выгодным шопингом.
<h2>ОБУВЬ ДЛЯ ВСЕЙ СЕМЬИ</h2>
<p>ОГРОМНЫЙ ВЫБОР ОБУВИ И АКСЕССУАРОВ ДЛЯ ЖЕНЩИН, МУЖЧИН И ДЕТЕЙ ПО ДОСТУПНЫМ ЦЕНАМ.
В коллекции представлено более 20 брендов, среди которых Lasocki, Jenny Fairy, Sprandi, DeeZee, Gino Rossi многие другие.
Для любителей спортивного и casual стиля в магазине также представлены популярные мировые бренды adidas, Reebok, Puma, Asics и Rieker.
Огромный выбор моделей и регулярное обновление ассортимента не оставит равнодушным.
</div>
{% endblock %}